<html>
    <link rel="stylesheet" href="static/main.css">
    <header>
        <h1> Inventory Tracker </h1>
    </header>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Quantity</th>
                <th>State</th>
                <th>Created At</th>
                <th>Updated At</th>
            </tr>
        </thead>
        <tbody>
            {% for row in Inventory %}
            <tr>
                <td>{{ row.ID }}</td>
                <td>{{ row.Item_Name }}</td>
                <td>{{ row.Item_Description }}</td>
                <td>{{ row.Quantity }}</td>
                <td>{{ row.State }}</td>
                <td>{{ row.Created_At }}</td>
                <td>{{ row.Updated_At }}</td>
                <td><form method="POST" action="/delete-inv">
                    <input type="hidden" name="id" value={{ row.ID }}>
                    <button>Delete</button>
                </form></td>
                <td><form method="POST" action="/update-inv">
                    <input type="hidden" name="id" value={{ row.ID }}>
                    <input name="name" placeholder="Item Name"/>
                    <input name="description" placeholder="Item Description"/>
                    <input name="quantity" placeholder="Quantity"/>
                    <button>Edit</button>
                </form></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <form method="POST" action='/create-inv'>
        <input name="name" required placeholder="Item Name"/>
        <input name="description" required placeholder="Item Description"/>
        <input name="quantity" required placeholder="Quantity"/>
        <button type="submit">Create an Item</button>
    </form>
    <table class="styled-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Shipment Description</th>
                <th>Carrier</th>
                <th>Tracking Number</th>
                <th>Is Expedited?</th>
                <th>Created At</th>
                <th>Updated At</th>
            </tr>
        </thead>
        <tbody>
            {% for row in Shipment %}
            <tr>
                <td>{{ row.ID }}</td>
                <td>{{ row.Shipment_Description }}</td>
                <td>{{ row.Carrier }}</td>
                <td>{{ row.Tracking_Number }}</td>
                <td>{{ row.Is_Expedited }}</td>
                <td>{{ row.Created_At }}</td>
                <td>{{ row.Updated_At }}</td>
                <td><form method="POST" action="/delete-shipment">
                    <input type="hidden" name="id" value={{ row.ID }}>
                    <button>Delete</button>
                </form></td>
                <td><form method="POST" action="/update-ship">
                    <input type="hidden" name="id" value={{ row.ID }}>
                    <input name="desc" placeholder="Shipment Description"/>
                    <input name="carrier" placeholder="Carrier"/>
                    <input name="tracking" placeholder="Tracking Number"/>
                    <input name="is_exp" placeholder="Is Expedited? (True or False)"/>
                    <button>Edit</button>
                </form></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <form method="POST" action='/create-shipment'>
        <input name="desc" required placeholder="Shipment Description"/>
        <input name="carrier" required placeholder="Carrier"/>
        <input name="tracking" required placeholder="Tracking Number"/>
        <input name="is_exp" required placeholder="Is Expedited? (0 or 1)"/>
        <button type="submit">Create a Shipment</button>
    </form>
    <table class="styled-table">
        <thead>
            <tr>
                <th>Inventory ID</th>
                <th>Shipment ID</th>
                <th>Item Name</th>
                <th>Quantity</th>
                <th>Created At</th>
                <th>Updated At</th>
            </tr>
        </thead>
        <tbody>
            {% for row in Shipment_Details %}
            <tr>
                <td>{{ row.Inventory_ID }}</td>
                <td>{{ row.Shipment_ID }}</td>
                <td>{{ row.item_details.Item_Name }}</td>
                <td>{{ row.Quantity }}</td>
                <td>{{ row.Created_At }}</td>
                <td>{{ row.Updated_At }}</td>
                <td><form method="POST" action="/delete-deet">
                    <input type="hidden" name="inv_id" value={{ row.Inventory_ID }}>
                    <input type="hidden" name="ship_id" value={{ row.Shipment_ID }}>
                    <button>Delete</button>
                </form></td>
                <td><form method="POST" action="/update-deet">
                    <input type="hidden" name="inv_id" value={{ row.Inventory_ID }}>
                    <input type="hidden" name="ship_id" value={{ row.Shipment_ID }}>
                    <input type="hidden" name="cur_q" value={{ row.Quantity }}>
                    <input name="quantity" placeholder="Quantity"/>
                    <button>Edit</button>
                </form></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <form method="POST" action='/shipment-details'>
        <input name="inv_id" required placeholder="Inventory ID"/>
        <input name="ship_id" required placeholder="Shipment ID"/>
        <input name="quantity" required placeholder="Quantity"/>
        <button type="submit">Add Shipment Details</button>
    </form>
</html>
