<html>
    <link rel="stylesheet" href="static/main.css">
    <header>
        <h1> Inventory Tracker </h1>
    </header>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Quantity</th>
                <th>Created At</th>
                <th>Updated At</th>
            </tr>
        </thead>
        <tbody>
            {% for row in Inventory %}
            <tr>
                {% for i in range(6) %}
                <td>{{ row[i] }}</td>
                {% endfor %}
                <td><form method="POST" action="/update-inv">
                    <input type="hidden" name="id" value={{ row[0] }}>
                    <button>Edit</button>
                </form></td>
                <td><form method="POST" action="/delete-inv">
                    <input type="hidden" name="id" value={{ row[0] }}>
                    <button>Delete</button>
                </form></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <form method="POST" action='/create-inv'>
        <input name="name" placeholder="Item Name"/>
        <input name="description" placeholder="Item Description"/>
        <input name="quantity" placeholder="Quantity"/>
        <button type="submit">Create an Item</button>
    </form>
    <table class="styled-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Shipment Description</th>
                <th>Carrier</th>
                <th>Tracking Number</th>
                <th>Is Expedited?</th>
                <th>Created At</th>
                <th>Updated At</th>
            </tr>
        </thead>
        <tbody>
            {% for row in Shipment %}
            <tr>
                {% for i in range(7) %}
                <td>{{ row[i] }}</td>
                {% endfor %}
                <td><form method="POST" action="/update-ship">
                    <input type="hidden" name="id" value={{ row[0] }}>
                    <button>Edit</button>
                </form></td>
                <td><form method="POST" action="/delete-shipment">
                    <input type="hidden" name="id" value={{ row[0] }}>
                    <button>Delete</button>
                </form></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <form method="POST" action='/create-shipment'>
        <input name="desc" placeholder="Shipment Description"/>
        <input name="carrier" placeholder="Carrier"/>
        <input name="tracking" placeholder="Tracking Number"/>
        <input name="is_exp" placeholder="Is Expedited? (0 or 1)"/>
        <button type="submit">Create a Shipment</button>
    </form>
    <table class="styled-table">
        <thead>
            <tr>
                <th>Inventory ID</th>
                <th>Shipment ID</th>
                <th>Quantity</th>
                <th>Created At</th>
                <th>Updated At</th>
            </tr>
        </thead>
        <tbody>
            {% for row in Shipment_Details %}
            <tr>
                {% for i in range(5) %}
                <td>{{ row[i] }}</td>
                {% endfor %}
                <td><form method="POST" action="/update-deet">
                    <input type="hidden" name="inv_id" value={{ row[0] }}>
                    <input type="hidden" name="ship_id" value={{ row[1] }}>
                    <button>Edit</button>
                </form></td>
                <td><form method="POST" action="/delete-deet">
                    <input type="hidden" name="inv_id" value={{ row[0] }}>
                    <input type="hidden" name="ship_id" value={{ row[1] }}>
                    <button>Delete</button>
                </form></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <form method="POST" action='/shipment-details'>
        <input name="inv_id" placeholder="Inventory ID"/>
        <input name="ship_id" placeholder="Shipment ID"/>
        <input name="quantity" placeholder="Quantity"/>
        <button type="submit">Add Shipment Details</button>
    </form>
</html>
