.styled-table {
    border: #000;
    margin-left: 50px;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: center;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}